<%- include("partials/header.ejs") %>

   <main class="site-content" id="content">
      <!-- START: Breadcrumb Area -->
      <section class="breadcrumb_area" data-bg-image=".//img/breadcrumb/breadcrumb-bg.jpg" data-bg-color="#140C1C">
         <div class="container">
            <div class="row">
               <div class="col">
                  <div class="breadcrumb_content d-flex flex-column align-items-center">
                     <h2 class="title wow fadeInUp" data-wow-delay=".3s">Services</h2>
                     <div class="breadcrumb_navigation wow fadeInUp" data-wow-delay=".5s">
                        <span><a href="/">Home</a></span>
                        <i class="far fa-long-arrow-right"></i>
                        <span class="current-item">Services</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- END: Breadcrumb Area -->

      <!-- start: Service Area -->
      <section class="service-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="section-header text-center">
                     <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">Services</h2>
                     <p class="wow fadeInUp text-uppercase" data-wow-delay=".4s">Offered Services</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <div class="service-item wow fadeInLeft" data-wow-delay=".3s">
                     <div class="service-icon">
                        <i class="flaticon-code"></i>
                     </div>
                     <div class="service-content">
                        <h5 class="title"><button data-mfp-src="#service-wrapper-webDev" class="modal-popup">Web
                              Development</button>
                        </h5>
                        <div class="desc">
                           <p>I tackle complex web development challenges to build seamless, reliable solutions that
                              enhance user experience and connect people globally</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="service-item wow fadeInRight" data-wow-delay=".3s">
                     <div class="service-icon">
                        <i class="flaticon-bezier-tool"></i>
                     </div>
                     <div class="service-content">
                        <h5 class="title"><button data-mfp-src="#service-wrapper-graphicsDesign"
                              class="modal-popup">Graphics
                              Design</button>
                        </h5>
                        <div class="desc">
                           <p>I craft compelling visual designs that effectively communicate ideas and enhance brand
                              identity, blending creativity with strategic vision to captivate audiences</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="service-item wow fadeInLeft" data-wow-delay=".4s">
                     <div class="service-icon">
                        <i class="flaticon-browser"></i>
                     </div>
                     <div class="service-content">
                        <h5 class="title"><button data-mfp-src="#service-wrapper-itSupport" class="modal-popup">IT
                              Support</button>
                        </h5>
                        <div class="desc">
                           <p>I resolve intricate IT issues to deliver dependable, user-centric solutions that ensure
                              smooth and efficient technology operations for diverse users</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="service-item wow fadeInRight" data-wow-delay=".4s">
                     <div class="service-icon">
                        <i class="flaticon-smartphone"></i>
                     </div>
                     <div class="service-content">
                        <h5 class="title"><button data-mfp-src="#service-wrapper-3DPrinting" class="modal-popup">3D
                              Printing and
                              Design</button>
                        </h5>
                        <div class="desc">
                           <p>I develop and refine 3D printing processes to create precise, innovative solutions,
                              transforming complex designs into tangible, high-quality products</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end: Service Area -->

      <!-- start: Service Popup Web Development-->
      <div id="service-wrapper-webDev" class="popup_content_area zoom-anim-dialog mfp-hide" data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/web-dev.png?alt=media&token=6f5e1429-fecc-449a-9843-9bff04169b19"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">Web Development</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, We believe in creating digital experiences that not only look
                                 visually stunning but also function seamlessly. Our approach to web development is
                                 grounded in understanding the unique needs of our clients and delivering solutions that
                                 drive results. Here’s a glimpse into how I approach web development:
                              </p>

                              <p>
                                 Client-Centric Approach: Every project begins with a deep understanding of the client's
                                 business, target audience, and objectives. I engage in thorough consultations to ensure
                                 that I capture the essence of what the client wants to achieve.
                              </p>

                              <p>
                                 User Experience (UX) Focused: I prioritize user experience by designing intuitive and
                                 engaging interfaces. A website should be easy to navigate and provide a pleasant
                                 experience to keep users coming back.
                              </p>
                              <p>
                                 Responsive Design: With the increasing use of mobile devices, I ensure that all
                                 websites are fully responsive. This means that they look and function perfectly on
                                 desktops, tablets, and smartphones.
                              </p>
                              <p>
                                 Scalability and Performance: I develop websites that are not only functional at launch
                                 but can also grow with the business. Performance optimization is key to providing a
                                 fast and reliable user experience.
                              </p>
                              <p>
                                 Security: Security is a top priority. I implement best practices to protect websites
                                 from threats and ensure data integrity.
                              </p>
                              <p>
                                 Continuous Improvement: Web development doesn’t stop at launch. I offer ongoing support
                                 and improvements based on user feedback and evolving technologies.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Discovery and Planning</li>
                              <li>Design</li>
                              <li>Development</li>
                              <li>Testing</li>
                              <li>Deployment</li>
                              <li>Maintenance and Support</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal1">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal1" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal1" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal1" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- start: Service Popup  3D Printing-->
      <div id="service-wrapper-3DPrinting" class="popup_content_area zoom-anim-dialog mfp-hide" data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/3D-Printing.png?alt=media&token=2036ec5b-29be-4372-9d42-d206aa37ae0a"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">3D Printing</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, 3D printing is more than just a technological marvel—it's a
                                 gateway to transforming ideas into tangible realities. My approach to 3D printing is
                                 driven by a commitment to precision, innovation, and client satisfaction. Here’s how I
                                 approach 3D printing projects:
                              </p>

                              <p>
                                 Concept to Creation: I begin with a clear understanding of the client’s vision. From
                                 concept sketches to detailed designs, I work closely with clients to ensure their ideas
                                 are accurately represented in the final 3D model.
                              </p>

                              <p>
                                 Design Excellence: Utilizing state-of-the-art software and design principles, I create
                                 detailed 3D models that are optimized for printing. The design process focuses on
                                 functionality, durability, and aesthetics.
                              </p>
                              <p>
                                 Material Selection: Choosing the right material is crucial for achieving the desired
                                 results. I offer a range of materials, including PLA, ABS, PETG, and specialty
                                 filaments, to match the specific needs of each project.
                              </p>
                              <p>
                                 Precision and Quality: Quality control is paramount. I ensure that every print meets
                                 high standards of precision and detail, using advanced 3D printers and techniques.
                              </p>
                              <p>
                                 Prototyping and Testing: For many projects, prototyping is essential. I provide
                                 prototypes for testing and evaluation, allowing clients to make adjustments before
                                 final production.
                              </p>
                              <p>
                                 Post-Processing: To enhance the final product, I offer post-processing services such as
                                 sanding, painting, and assembly. This ensures that the finished print is polished and
                                 ready for use.
                              </p>
                              <p>
                                 Continuous Innovation: Staying abreast of the latest advancements in 3D printing
                                 technology allows me to offer cutting-edge solutions and continuously improve the
                                 services I provide.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Consultation and Planning</li>
                              <li>3D Modeling and Design</li>
                              <li>Material and Printer Selection</li>
                              <li>Printing</li>
                              <li>Post-Processing</li>
                              <li>Delivery and Support</li>
                              <li>Innovation and Feedback</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li>
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal2">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal2" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal2" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal2" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- start: Service Popup  IT Support-->
      <div id="service-wrapper-itSupport" class="popup_content_area zoom-anim-dialog mfp-hide" data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/it-support.png?alt=media&token=98c39203-6981-40ea-94c4-527c65c3c1f7"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">IT Support</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, IT support is the backbone of a seamless digital experience. My
                                 approach to IT support is grounded in proactive solutions, efficient problem
                                 resolution, and a dedication to ensuring technology works for you. Here’s how I
                                 approach IT support:
                              </p>

                              <p>
                                 Proactive Monitoring: Anticipating issues before they arise is key to minimizing
                                 disruptions. I implement monitoring tools to keep an eye on systems, networks, and
                                 applications, ensuring potential problems are addressed before they impact your
                                 operations.
                              </p>

                              <p>
                                 Tailored Solutions: Every organization has unique IT needs. I customize support
                                 solutions to align with your specific requirements, whether it’s for a small business
                                 or a large enterprise.
                              </p>
                              <p>
                                 Rapid Response and Resolution: Quick and effective response to IT issues is essential.
                                 I provide timely support through various channels, including phone, email, and remote
                                 access, to resolve problems efficiently and minimize downtime.
                              </p>
                              <p>
                                 Comprehensive Troubleshooting: From hardware and software issues to network and
                                 security problems, I offer thorough troubleshooting to identify and fix the root cause
                                 of IT challenges.
                              </p>
                              <p>
                                 User Education and Training: Empowering users with knowledge is crucial. I offer
                                 training sessions and resources to help your team understand and efficiently use IT
                                 systems, reducing the likelihood of user-related issues.
                              </p>
                              <p>
                                 System Optimization: Regular maintenance and optimization are vital for ensuring peak
                                 performance. I perform routine checks, updates, and optimizations to keep your systems
                                 running smoothly.
                              </p>
                              <p>
                                 Security and Compliance: Protecting your data and ensuring compliance with industry
                                 standards is a top priority. I implement security measures and provide guidance on best
                                 practices to safeguard your IT environment.Security and Compliance: Protecting your
                                 data and ensuring compliance with industry standards is a top priority. I implement
                                 security measures and provide guidance on best practices to safeguard your IT
                                 environment.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Initial Assessment and Consultation</li>
                              <li>Proactive Monitoring and Maintenance</li>
                              <li>Incident Response and Troubleshooting</li>
                              <li>User Support and Training</li>
                              <li>System Setup and Configuration</li>
                              <li>Security and Compliance</li>
                              <li>Ongoing Support and Improvement</li>
                              <li>Emergency Support</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li>
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal3">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal3" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal3" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal3" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->

      <!-- start: Service Popup  IT Graphics Design-->
      <div id="service-wrapper-graphicsDesign" class="popup_content_area zoom-anim-dialog mfp-hide"
         data-lenis-prevent="">
         <div class="popup_modal_img">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/portfolio-ejs.appspot.com/o/graphics-design.png?alt=media&token=6ec3423d-8f10-4bf0-80fb-0b9ca15f9e9a"
               alt="Web Development Illustration">
         </div>
         <div class="popup_modal_content">
            <div class="service_details">
               <div class="row">
                  <div class="col-lg-7 col-xl-8">
                     <div class="service_details_content">
                        <div class="service_info">
                           <h6 class="subtitle">SERVICES</h6>
                           <h2 class="title">Graphics Design</h2>
                           <div class="desc">
                              <p>
                                 At Halal Solutions NG, graphics design is more than just creating visually appealing
                                 elements; it’s about crafting powerful visual experiences that effectively communicate
                                 your brand’s message. My approach to graphics design is rooted in creativity, strategy,
                                 and attention to detail. Here’s how I approach graphics design:
                              </p>

                              <p>
                                 Understanding Your Vision: The first step is to deeply understand your vision, goals,
                                 and target audience. I collaborate with you to capture your brand's essence and
                                 translate it into compelling visual designs.
                              </p>

                              <p>
                                 Creative Conceptualization: I begin by brainstorming and developing creative concepts
                                 that align with your brand identity. This phase involves sketching ideas, exploring
                                 color schemes, and selecting typography that resonates with your message.
                              </p>
                              <p>
                                 Strategic Design Solutions: Every design element serves a purpose. I ensure that each
                                 design is strategically crafted to enhance usability, convey your message effectively,
                                 and engage your audience.
                              </p>
                              <p>
                                 Attention to Detail: Precision and consistency are crucial. I pay meticulous attention
                                 to every detail, from color accuracy and font choices to alignment and spacing, to
                                 ensure that the final design is polished and professional.
                              </p>
                              <p>
                                 Feedback and Iteration: Your input is valuable. I provide drafts and seek your feedback
                                 to make necessary adjustments, ensuring the final design meets your expectations and
                                 needs.
                              </p>
                              <p>
                                 Quality Assurance: Before finalizing, I perform thorough quality checks to ensure the
                                 design is error-free and looks great across all platforms, whether it’s for print or
                                 digital use.
                              </p>
                              <p>
                                 Timely Delivery: I understand the importance of deadlines. I work efficiently to
                                 deliver high-quality designs within the agreed timeframe, ensuring you have everything
                                 you need when you need it.
                              </p>
                              <p>
                                 Continuous Improvement: Design trends and technologies evolve. I stay updated with the
                                 latest trends and tools to provide you with modern, innovative designs that keep your
                                 brand ahead of the curve.
                              </p>
                           </div>

                           <h3 class="title">Services Process</h3>

                           <ul>
                              <li>Initial Consultation and Discovery</li>
                              <li>Concept Development</li>
                              <li>Design Creation</li>
                              <li>Feedback and Revisions</li>
                              <li>Finalization and Delivery</li>
                              <li>Branding and Identity</li>
                              <li>Marketing Materials</li>
                              <li>Ongoing Support and Updates</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                     <div class="tj_main_sidebar">
                        <div class="sidebar_widget services_list">
                           <div class="widget_title">
                              <h3 class="title">All Services</h3>
                           </div>
                           <ul>
                              <li>
                                 <button>
                                    <i class="flaticon-design"></i>
                                    Web Development
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-3d-movie"></i>
                                    3D Printing
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ux-design"></i>
                                    IT Support
                                 </button>
                              </li>
                              <li class="active">
                                 <button>
                                    <i class="flaticon-web-design"></i>
                                    Graphics Design
                                 </button>
                              </li>
                              <li>
                                 <button>
                                    <i class="flaticon-ui-design"></i>
                                    Automation
                                 </button>
                              </li>
                           </ul>
                        </div>

                        <div class="sidebar_widget contact_form">
                           <div class="widget_title">
                              <h3 class="title">Get in Touch</h3>
                           </div>

                           <form id="form-modal4">
                              <div class="form_group required-field-block">
                                 <input type="text" name="name" id="name-form-modal4" placeholder="Name"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <input type="email" name="semail" id="semail-form-modal4" placeholder="Email"
                                    autocomplete="off">
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_group required-field-block">
                                 <textarea name="smessage" id="smessage-form-modal4" placeholder="Your message"
                                    autocomplete="off"></textarea>
                                 <div class="required-icon">
                                    <div class="text">*</div>
                                 </div>
                              </div>
                              <div class="form_btn">
                                 <button class="btn tj-btn-primary" type="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Service Popup -->
   </main>

   <%- include("partials/footer.ejs") %>