<!-- FOOTER AREA START -->
<footer class="tj-footer-area">
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="footer-logo-box">
               <a href="/"><img src="/img/logo/B-logo.png" alt=""></a>
            </div>
            <div class="footer-menu">
               <nav>
                  <ul>
                     <li><a href="/about">About</a></li>
                     <li><a href="/services">Services</a></li>
                     <li><a href="/portfolios">Portfolios</a></li>
                     <li><a href="/contact">Contact</a></li>
                  </ul>
               </nav>
            </div>
            <div class="copy-text">
               <p>&copy; 2024 All rights reserved by <a href="#">Halal Solutions Ng</a></p>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- FOOTER AREA END -->

<!-- JSS here -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/nice-select.min.js"></script>
<script src="/js/backToTop.js"></script>
<script src="/js/appear.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/gsap.min.js"></script>
<script src="/js/ScrollTrigger.min.js"></script>
<script src="/js/lenis.min.js"></script>
<script src="/js/lightcase.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/imagesloaded-pkgd.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/odometer.min.js"></script>
<script src="/js/magnific-popup.js"></script>
<script src="/js/validate.min.js"></script>
<script src="/js/meanmenu.js"></script>
<script src="/js/main.js"></script>
<script src="/js/contactForm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/js/modalForm.js"></script>
<script src="/js/filterProjects.js"></script>
<script src="/js/navProjects.js"></script>
<script src="/js/shareBlogPost.js"></script>


<% if (title==="Post Details" ) { %>
   <script type="module" src="/js/addComment.js"></script>

   <% } %>
      </body>

      </html>